* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.navbar {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .active {
    color: blue !important;
  }
}
